#page61 { background-image: url('assets/backgrounds/page61.webp'); }
#p61-readmore1 { left:432.20px; top:803.78px; width:62.64px; height:19.73px; }
#p61-photo1 { left:69.50px; top:240.69px; width:324.26px; height:280.45px; }
#p61-pagenum { right:24px; }
