#page9 { background-image: url('assets/backgrounds/page9.webp'); }
#p9-tl1 { left:76.20px; top:156.51px; width:98.59px; height:47.68px; }
#p9-tl2 { left:105.15px; top:202.53px; width:170.22px; height:24.67px; }
#p9-tl3 { left:105.15px; top:225.54px; width:170.22px; height:24.67px; }
#p9-tl4 { left:72.49px; top:565.16px; width:85.11px; height:24.67px; }
#p9-tl5 { left:136.07px; top:669.94px; width:170.22px; height:24.67px; }
#p9-tl6 { left:287.85px; top:727.64px; width:170.22px; height:24.67px; }
#p9-tl7 { left:451.81px; top:626.84px; width:167.42px; height:24.67px; }
#p9-tl8 { left:228.05px; top:109.42px; width:208.08px; height:24.67px; }
#p9-tl9 { left:369.21px; top:245.14px; width:68.09px; height:24.67px; }
#p9-tl10 { left:369.21px; top:268.16px; width:136.17px; height:24.67px; }
#p9-tl11 { left:369.21px; top:291.17px; width:119.15px; height:24.67px; }
#p9-tl12 { left:509.50px; top:133.85px; width:136.17px; height:24.67px; }
#p9-tl13 { left:509.50px; top:156.86px; width:102.13px; height:24.67px; }
#p9-tl14 { left:509.50px; top:179.87px; width:73.77px; height:24.67px; }
#p9-pagenum { right:24px; }
#p9-timeline-hint { left:24px; }
