#page42 { background-image: url('assets/backgrounds/page42.webp'); }
#p42-readmore1 { left:432.20px; top:455.80px; width:62.64px; height:19.73px; }
#p42-photo1 { left:69.50px; top:515.88px; width:406.65px; height:304.92px; }
#p42-pagenum { left:24px; }
