#page67 { background-image: url('assets/backgrounds/page67.webp'); }
#p67-readmore1 { left:545.80px; top:632.52px; width:62.64px; height:19.73px; }
#p67-photo1 { left:69.50px; top:308.16px; width:261.49px; height:348.88px; }
#p67-pagenum { right:24px; }
