#page47 { background-image: url('assets/backgrounds/page47.png'); }
#p47-t1 { left:93.12px; top:65.62px; font-size:29.52px; line-height:42.77px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
#p47-t2 { left:93.12px; top:118.02px; font-size:18.17px; line-height:18.18px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
