#page31 { background-image: url('assets/backgrounds/page31.png'); }
#p31-t1 { left:69.50px; top:403.89px; font-size:63.59px; line-height:92.14px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
