#page40 { background-image: url('assets/backgrounds/page40.webp'); }
#p40-readmore1 { left:432.20px; top:425.96px; width:62.64px; height:19.73px; }
#p40-photo1 { left:69.50px; top:467.89px; width:453.39px; height:301.50px; }
#p40-pagenum { left:24px; }
