#page11 { background-image: url('assets/backgrounds/page11.webp'); }
#p11-photo1 { left:314.25px; top:124.62px; width:311.12px; height:415.10px; }
#p11-photo2 { left:291.64px; top:537.58px; width:356.49px; height:237.20px; }
#p11-pagenum { right:24px; }
