#page36 { background-image: url('assets/backgrounds/page36.webp'); }
#p36-readmore1 { left:432.20px; top:425.96px; width:62.64px; height:19.73px; }
#p36-photo1 { left:69.50px; top:555.50px; width:406.52px; height:372.88px; }
#p36-pagenum { left:24px; }
