#page46 { background-image: url('assets/backgrounds/page46.webp'); }
#p46-t1 { left:260.51px; top:224.11px; font-size:40.88px; line-height:59.24px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
#p46-t2 { left:203.32px; top:311.96px; font-size:63.59px; line-height:92.14px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
#p46-t3 { right:111.26px; top:396.74px; font-size:34.07px; line-height:34.09px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; letter-spacing:0.05em; text-align:right; }
#p46-pagenum { left:24px; }
