#page74 { background-image: url('assets/backgrounds/page74.webp'); }
#p74-readmore1 { left:83.36px; top:386.62px; width:62.64px; height:19.73px; }
#p74-readmore2 { left:83.36px; top:792.62px; width:62.64px; height:19.73px; }
#p74-photo1 { left:356.11px; top:261.86px; width:269.70px; height:202.24px; }
#p74-photo2 { left:245.33px; top:629.73px; width:380.22px; height:138.89px; }
#p74-pagenum { left:24px; }
