#page34 { background-image: url('assets/backgrounds/page34.webp'); }
#p34-readmore1 { left:432.20px; top:507.09px; width:62.64px; height:19.73px; }
#p34-photo1 { left:54.21px; top:555.76px; width:437.13px; height:245.03px; }
#p34-pagenum { left:24px; }
