#page30 { background-image: url('assets/backgrounds/page30.webp'); }
#p30-t1 { left:471.51px; top:403.89px; font-size:63.59px; line-height:92.14px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
#p30-pagenum { left:24px; }
