#page54 { background-image: url('assets/backgrounds/page54.png'); }
#p54-t1 { left:127.46px; top:267.52px; font-size:63.59px; line-height:92.14px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
#p54-t2 { left:379.46px; top:590.37px; font-size:63.59px; line-height:92.14px; color:#624393; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
