#page93 { background-image: url('assets/backgrounds/page93.png'); }
#p93-t1 { left:70.74px; top:152.95px; font-size:18.17px; line-height:26.32px; color:#000000; font-family:'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif; font-weight:400; }
