#page76 { background-image: url('../assets/backgrounds/page76.webp'); }
#p76-photo1 { left:302.69px; top:544.43px; width:354.51px; height:265.89px; }
#p76-photo2 { left:245.33px; top:272.03px; width:380.36px; height:182.35px; }
#p76-readmore1 { left:83.36px; top:469.56px; width:62.64px; height:19.73px; }
#p76-readmore2 { left:83.36px; top:738.08px; width:62.64px; height:19.73px; }
#p76-pagenum { left:24px; }
