#page68 { background-image: url('../assets/backgrounds/page68.webp'); }
#p68-photo1 { left:55.65px; top:264.42px; width:298.73px; height:223.60px; }
#p68-photo2 { left:367.63px; top:297.55px; width:308.24px; height:230.74px; }
#p68-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p68-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p68-zoom1 { left:69.50px; top:227.36px; width:54.86px; height:26.32px; }
#p68-zoom2 { left:69.50px; top:256.03px; width:119.10px; height:21.39px; }
#p68-zoom3 { left:69.50px; top:587.08px; width:248.76px; height:162.69px; }
#p68-zoom4 { left:378.39px; top:268.27px; width:54.86px; height:26.32px; }
#p68-zoom5 { left:378.39px; top:296.94px; width:223.46px; height:21.39px; }
#p68-zoom6 { left:378.39px; top:609.04px; width:248.76px; height:162.69px; }
#p68-pagenum { left:24px; }
