#page41 { background-image: url('../assets/backgrounds/page41.webp'); }
#p41-readmore1 { left:534.73px; top:791.87px; width:62.64px; height:19.73px; }
#p41-photo1 { left:218.81px; top:232.20px; width:406.52px; height:270.87px; }
#p41-pagenum { right:24px; }
