#page22 { background-image: url('../assets/backgrounds/page22.webp'); }
#p22-zoom1 { left:69.50px; top:188.57px; width:411.15px; height:108.14px; }
#p22-zoom2 { left:69.50px; top:324.94px; width:411.15px; height:108.14px; }
#p22-zoom3 { left:69.50px; top:461.30px; width:411.16px; height:135.41px; }
#p22-pagenum { left:24px; }
