#page91 { background-image: url('../assets/backgrounds/page91.webp'); }
#p91-zoom1 { left:194.45px; top:356.90px; width:305.91px; height:105.58px; }
#p91-zoom2 { left:194.45px; top:489.00px; width:231.05px; height:26.32px; }
#p91-pagenum { right:24px; }
