#page87 { background-image: url('../assets/backgrounds/page87.webp'); }
#p87-readmore1 { left:440.96px; top:461.05px; width:62.64px; height:19.73px; }
#p87-photo1 { left:70.74px; top:507.62px; width:362.90px; height:277.82px; }
#p87-pagenum { right:24px; }
