#page29 { background-image: url('../assets/backgrounds/page29.webp'); }
#p29-photo1 { left:189.90px; top:559.74px; width:444.92px; height:247.01px; }
#p29-zoom1 { left:69.50px; top:92.42px; width:555.82px; height:189.96px; }
#p29-zoom2 { left:69.50px; top:310.60px; width:555.81px; height:108.14px; }
#p29-zoom3 { left:69.50px; top:446.97px; width:555.81px; height:135.41px; }
#p29-pagenum { right:24px; }
