#page14 { background-image: url('../assets/backgrounds/page14.webp'); }
#p14-zoom1 { left:69.50px; top:144.25px; width:275.03px; height:217.23px; }
#p14-zoom2 { left:291.16px; top:356.98px; width:219.99px; height:52.74px; }
#p14-zoom3 { left:291.16px; top:436.24px; width:219.99px; height:105.58px; }
#p14-zoom4 { left:291.16px; top:568.34px; width:330.07px; height:79.16px; }
#p14-zoom5 { left:291.16px; top:674.03px; width:201.64px; height:158.43px; }
#p14-pagenum { left:24px; }
