#page77 { background-image: url('../assets/backgrounds/page77.webp'); }
#p77-photo1 { left:356.11px; top:615.50px; width:269.70px; height:202.24px; }
#p77-photo2 { left:245.33px; top:271.57px; width:380.36px; height:183.67px; }
#p77-readmore1 { left:83.36px; top:412.09px; width:62.64px; height:19.73px; }
#p77-readmore2 { left:83.36px; top:739.22px; width:62.64px; height:19.73px; }
#p77-zoom1 { left:69.50px; top:229.88px; width:54.86px; height:26.32px; }
#p77-zoom2 { left:69.50px; top:275.10px; width:155.12px; height:108.14px; }
#p77-zoom3 { left:69.50px; top:583.14px; width:54.86px; height:26.32px; }
#p77-zoom4 { left:69.50px; top:628.36px; width:269.19px; height:80.87px; }
#p77-zoom5 { left:356.11px; top:809.39px; width:189.18px; height:42.69px; }
#p77-pagenum { right:24px; }
