#page21 { background-image: url('../assets/backgrounds/page21.webp'); }
#p21-zoom1 { left:241.69px; top:188.57px; width:392.70px; height:299.05px; }
#p21-zoom2 { left:241.69px; top:515.84px; width:383.62px; height:162.69px; }
#p21-zoom3 { left:241.69px; top:706.75px; width:383.62px; height:80.87px; }
#p21-pagenum { right:24px; }
