#page18 { background-image: url('../assets/backgrounds/page18.webp'); }
#p18-zoom1 { left:69.50px; top:423.46px; width:365.68px; height:108.14px; }
#p18-zoom2 { left:69.50px; top:559.82px; width:365.68px; height:80.87px; }
#p18-zoom3 { left:69.50px; top:668.91px; width:365.68px; height:80.87px; }
#p18-zoom4 { left:69.50px; top:778.00px; width:365.68px; height:53.60px; }
#p18-pagenum { left:24px; }
