#page75 { background-image: url('../assets/backgrounds/page75.webp'); }
#p75-readmore1 { left:83.36px; top:386.62px; width:62.64px; height:19.73px; }
#p75-readmore2 { left:83.36px; top:749.12px; width:62.64px; height:19.73px; }
#p75-photo1 { left:315.46px; top:221.00px; width:323.77px; height:249.24px; }
#p75-photo2 { left:447.72px; top:533.94px; width:177.21px; height:236.21px; }
#p75-pagenum { right:24px; }
