#page80 { background-image: url('../assets/backgrounds/page80.webp'); }
#p80-zoom1 { left:69.50px; top:367.58px; width:422.25px; height:79.16px; }
#p80-zoom2 { left:69.50px; top:473.26px; width:422.25px; height:132.01px; }
#p80-zoom3 { left:69.50px; top:631.79px; width:422.25px; height:132.01px; }
#p80-pagenum { left:24px; }
