#page47 { background-image: url('../assets/backgrounds/page47.webp'); }
#p47-zoom1 { left:230.41px; top:184.72px; width:216.07px; height:43.55px; }
#p47-zoom2 { left:318.25px; top:286.57px; width:283.07px; height:43.55px; }
#p47-zoom3 { left:398.64px; top:375.72px; width:175.87px; height:65.70px; }
#p47-zoom4 { left:439.50px; top:496.96px; width:199.38px; height:65.70px; }
#p47-zoom5 { left:468.60px; top:604.31px; width:119.10px; height:43.55px; }
#p47-zoom6 { left:479.64px; top:687.28px; width:163.82px; height:65.70px; }
#p47-zoom7 { left:471.05px; top:800.97px; width:163.82px; height:21.39px; }
#p47-pagenum { right:24px; }
