#page20 { background-image: url('../assets/backgrounds/page20.webp'); }
#p20-zoom1 { left:69.50px; top:188.57px; width:412.30px; height:217.23px; }
#p20-zoom2 { left:69.50px; top:434.03px; width:412.30px; height:135.41px; }
#p20-zoom3 { left:69.50px; top:597.66px; width:412.30px; height:217.23px; }
#p20-pagenum { left:24px; }
