#page49 { background-image: url('../assets/backgrounds/page49.webp'); }
#p49-readmore1 { left:534.73px; top:826.81px; width:62.64px; height:19.73px; }
#p49-photo1 { left:173.27px; top:239.31px; width:452.44px; height:253.65px; }
#p49-pagenum { right:24px; }
