#page6 { background-image: url('../assets/backgrounds/page6.webp'); }
#p6-photo1 { left:53.32px; top:530.21px; width:304.35px; height:228.41px; }
#p6-photo2 { left:363.48px; top:604.31px; width:263.77px; height:198.15px; }
#p6-readmore1 { left:432.20px; top:495.11px; width:62.64px; height:19.73px; }
#p6-pagenum { left:24px; }
