#page33 { background-image: url('../assets/backgrounds/page33.webp'); }
#p33-zoom1 { left:205.32px; top:186.51px; width:168.13px; height:43.55px; }
#p33-zoom2 { left:245.01px; top:283.15px; width:193.63px; height:21.39px; }
#p33-zoom3 { left:266.85px; top:344.27px; width:276.97px; height:43.55px; }
#p33-zoom4 { left:350.20px; top:414.29px; width:283.07px; height:21.39px; }
#p33-zoom5 { left:410.94px; top:501.57px; width:157.95px; height:43.55px; }
#p33-zoom6 { left:393.41px; top:563.19px; width:148.92px; height:43.55px; }
#p33-zoom7 { left:445.10px; top:634.42px; width:168.60px; height:43.55px; }
#p33-zoom8 { left:445.10px; top:689.98px; width:208.54px; height:43.55px; }
#p33-zoom9 { left:473.33px; top:759.66px; width:178.73px; height:43.55px; }
#p33-zoom10 { left:417.29px; top:821.84px; width:208.54px; height:21.39px; }
#p33-pagenum { right:24px; }
