#page92 { background-image: url('../assets/backgrounds/page92.webp'); }
#p92-link1 { left:367.60px; top:355.91px; width:143.09px; height:26.42px; }
#p92-link2 { left:367.60px; top:580.91px; width:194.19px; height:26.42px; }
#p92-link3 { left:367.60px; top:805.91px; width:229.11px; height:26.42px; }
#p92-zoom1 { left:312.24px; top:174.59px; width:101.04px; height:26.32px; }
#p92-zoom2 { left:312.24px; top:273.46px; width:279.28px; height:108.14px; }
#p92-zoom3 { left:312.24px; top:454.14px; width:311.72px; height:26.32px; }
#p92-zoom4 { left:312.24px; top:553.00px; width:279.28px; height:53.60px; }
#p92-zoom5 { left:312.24px; top:679.14px; width:260.94px; height:26.32px; }
#p92-zoom6 { left:312.24px; top:778.00px; width:284.58px; height:53.60px; }
#p92-pagenum { left:24px; }
