#page71 { background-image: url('../assets/backgrounds/page71.webp'); }
#p71-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p71-readmore2 { left:545.80px; top:801.84px; width:62.64px; height:19.73px; }
#p71-photo1 { left:58.74px; top:284.89px; width:270.21px; height:202.99px; }
#p71-photo2 { left:376.55px; top:313.33px; width:248.81px; height:246.60px; }
#p71-pagenum { right:24px; }
