#page60 { background-image: url('../assets/backgrounds/page60.webp'); }
#p60-photo1 { left:69.50px; top:264.05px; width:324.26px; height:348.40px; }
#p60-readmore1 { left:432.20px; top:803.78px; width:62.64px; height:19.73px; }
#p60-zoom1 { left:69.50px; top:211.67px; width:283.07px; height:43.55px; }
#p60-zoom2 { left:69.50px; top:533.23px; width:238.35px; height:21.39px; }
#p60-zoom3 { left:69.50px; top:636.11px; width:442.20px; height:162.69px; }
#p60-pagenum { left:24px; }
