#page17 { background-image: url('../assets/backgrounds/page17.webp'); }
#p17-photo1 { left:291.64px; top:564.55px; width:356.49px; height:237.20px; }
#p17-zoom1 { left:69.50px; top:144.25px; width:238.33px; height:53.60px; }
#p17-zoom2 { left:69.50px; top:226.07px; width:238.33px; height:80.87px; }
#p17-zoom3 { left:69.50px; top:335.16px; width:164.95px; height:53.60px; }
#p17-zoom4 { left:69.50px; top:416.98px; width:128.25px; height:80.87px; }
#p17-zoom5 { left:69.50px; top:526.07px; width:201.64px; height:80.87px; }
#p17-pagenum { right:24px; }
