#page79 { background-image: url('../assets/backgrounds/page79.webp'); }
#p79-readmore1 { left:83.36px; top:384.82px; width:62.64px; height:19.73px; }
#p79-readmore2 { left:83.36px; top:738.08px; width:62.64px; height:19.73px; }
#p79-photo1 { left:355.10px; top:278.46px; width:292.23px; height:182.35px; }
#p79-pagenum { right:24px; }
