#page66 { background-image: url('../assets/backgrounds/page66.webp'); }
#p66-photo1 { left:70.64px; top:312.23px; width:248.81px; height:332.23px; }
#p66-readmore1 { left:545.80px; top:632.52px; width:62.64px; height:19.73px; }
#p66-zoom1 { left:69.50px; top:316.78px; width:168.25px; height:26.32px; }
#p66-zoom2 { left:69.50px; top:345.45px; width:167.28px; height:21.39px; }
#p66-zoom3 { left:70.64px; top:584.31px; width:239.44px; height:42.69px; }
#p66-zoom4 { left:376.55px; top:370.04px; width:248.75px; height:189.96px; }
#p66-pagenum { left:24px; }
