#page88 { background-image: url('../assets/backgrounds/page88.webp'); }
#p88-photo1 { left:262.79px; top:513.07px; width:362.41px; height:272.47px; }
#p88-readmore1 { left:545.80px; top:490.24px; width:62.64px; height:19.73px; }
#p88-zoom1 { left:69.50px; top:587.97px; width:174.27px; height:154.34px; }
#p88-zoom2 { left:175.58px; top:309.78px; width:449.72px; height:162.69px; }
#p88-pagenum { left:24px; }
