#page1 { background-image: url('../assets/backgrounds/page1.webp'); }
#p1-zoom1 { left:69.50px; top:483.52px; width:227.52px; height:264.11px; }
#p1-zoom2 { left:69.50px; top:774.14px; width:231.05px; height:26.32px; }
