#page78 { background-image: url('../assets/backgrounds/page78.webp'); }
#p78-readmore1 { left:83.36px; top:439.36px; width:62.64px; height:19.73px; }
#p78-readmore2 { left:83.36px; top:738.08px; width:62.64px; height:19.73px; }
#p78-photo1 { left:312.90px; top:631.72px; width:326.02px; height:169.75px; }
#p78-photo2 { left:245.33px; top:277.99px; width:380.24px; height:151.26px; }
#p78-pagenum { left:24px; }
