#page7 { background-image: url('../assets/backgrounds/page7.webp'); }
#p7-photo1 { left:65.94px; top:236.98px; width:395.54px; height:172.03px; }
#p7-photo2 { left:365.49px; top:370.93px; width:259.90px; height:206.66px; }
#p7-readmore1 { left:432.20px; top:822.64px; width:62.64px; height:19.73px; }
#p7-pagenum { right:24px; }
#p7-photo-zoom-hint { left:69.5px; bottom:361.49px; }
