#page73 { background-image: url('../assets/backgrounds/page73.webp'); }
#p73-photo1 { left:338.21px; top:278.07px; width:302.83px; height:169.75px; }
#p73-photo2 { left:240.43px; top:633.60px; width:390.30px; height:169.75px; }
#p73-readmore1 { left:83.36px; top:386.62px; width:62.64px; height:19.73px; }
#p73-readmore2 { left:83.36px; top:792.62px; width:62.64px; height:19.73px; }
#p73-pagenum { right:24px; }
