#page70 { background-image: url('../assets/backgrounds/page70.webp'); }
#p70-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p70-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p70-photo1 { left:59.12px; top:285.19px; width:298.50px; height:146.49px; }
#p70-photo2 { left:356.54px; top:250.32px; width:391.71px; height:184.25px; }
#p70-pagenum { left:24px; }
