#page68 { background-image: url('../assets/backgrounds/page68.webp'); }
#p68-photo1 { left:55.65px; top:264.42px; width:298.73px; height:223.60px; }
#p68-photo2 { left:367.63px; top:297.55px; width:308.24px; height:230.74px; }
#p68-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p68-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p68-pagenum { left:24px; }
