#page55 { background-image: url('../assets/backgrounds/page55.webp'); }
#p55-zoom1 { left:164.71px; top:163.18px; width:365.37px; height:132.00px; }
#p55-zoom2 { left:164.71px; top:321.70px; width:365.38px; height:237.69px; }
#p55-zoom3 { left:164.71px; top:585.91px; width:365.37px; height:132.00px; }
#p55-zoom4 { left:164.71px; top:744.43px; width:365.38px; height:52.74px; }
#p55-pagenum { right:24px; }
