#page65 { background-image: url('../assets/backgrounds/page65.webp'); }
#p65-photo1 { left:58.74px; top:309.15px; width:270.21px; height:202.99px; }
#p65-photo2 { left:354.80px; top:324.68px; width:296.36px; height:202.99px; }
#p65-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p65-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p65-zoom1 { left:69.50px; top:229.27px; width:54.86px; height:26.32px; }
#p65-zoom2 { left:69.50px; top:257.95px; width:148.92px; height:41.84px; }
#p65-zoom3 { left:69.50px; top:575.23px; width:248.76px; height:162.69px; }
#p65-zoom4 { left:378.39px; top:267.26px; width:54.86px; height:26.32px; }
#p65-zoom5 { left:378.39px; top:295.93px; width:134.01px; height:21.39px; }
#p65-zoom6 { left:378.39px; top:608.04px; width:248.76px; height:162.69px; }
#p65-pagenum { right:24px; }
