#page12 { background-image: url('../assets/backgrounds/page12.webp'); }
#p12-zoom1 { left:250.89px; top:522.40px; width:261.91px; height:76.45px; }
#p12-zoom2 { left:250.89px; top:624.67px; width:331.75px; height:50.88px; }
#p12-pagenum { left:24px; }
