#page39 { background-image: url('../assets/backgrounds/page39.webp'); }
#p39-zoom1 { left:220.58px; top:129.98px; width:231.44px; height:43.55px; }
#p39-zoom2 { left:300.25px; top:220.32px; width:193.63px; height:43.55px; }
#p39-zoom3 { left:275.18px; top:294.04px; width:159.90px; height:21.39px; }
#p39-zoom4 { left:307.78px; top:358.81px; width:283.07px; height:21.39px; }
#p39-zoom5 { left:322.98px; top:414.21px; width:156.44px; height:21.39px; }
#p39-zoom6 { left:324.01px; top:445.92px; width:280.62px; height:43.55px; }
#p39-zoom7 { left:320.26px; top:513.97px; width:170.73px; height:21.39px; }
#p39-zoom8 { left:401.32px; top:581.81px; width:156.44px; height:21.39px; }
#p39-zoom9 { left:457.77px; top:633.46px; width:141.54px; height:43.55px; }
#p39-zoom10 { left:486.00px; top:698.66px; width:165.90px; height:65.70px; }
#p39-zoom11 { left:486.00px; top:780.56px; width:163.82px; height:21.39px; }
#p39-zoom12 { left:452.19px; top:819.29px; width:122.56px; height:21.39px; }
#p39-pagenum { right:24px; }
