#page10 { background-image: url('../assets/backgrounds/page10.webp'); }
#p10-photo1 { left:402.95px; top:612.86px; width:208.73px; height:144.12px; }
#p10-photo2 { left:67.10px; top:213.66px; width:315.75px; height:237.20px; }
#p10-photo3 { left:32.41px; top:537.58px; width:385.20px; height:237.20px; }
#p10-zoom1 { left:412.76px; top:299.37px; width:188.93px; height:271.78px; }
#p10-pagenum { left:24px; }
