#page2 { background-image: url('../assets/backgrounds/page2.webp'); }
#p2-zoom1 { left:69.50px; top:189.34px; width:476.85px; height:26.32px; }
#p2-zoom2 { left:69.50px; top:242.18px; width:444.41px; height:52.74px; }
#p2-zoom3 { left:69.50px; top:321.45px; width:495.20px; height:52.74px; }
#p2-zoom4 { left:69.50px; top:400.71px; width:297.63px; height:52.74px; }
#p2-zoom5 { left:69.50px; top:479.97px; width:421.81px; height:105.58px; }
#p2-pagenum { left:24px; }
