#page65 { background-image: url('../assets/backgrounds/page65.webp'); }
#p65-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p65-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p65-photo1 { left:58.74px; top:309.15px; width:270.21px; height:202.99px; }
#p65-photo2 { left:354.80px; top:324.68px; width:296.36px; height:202.99px; }
#p65-pagenum { right:24px; }
