#page48 { background-image: url('../assets/backgrounds/page48.webp'); }
#p48-photo1 { left:-54.81px; top:484.47px; width:581.57px; height:273.75px; }
#p48-readmore1 { left:432.20px; top:475.66px; width:62.64px; height:19.73px; }
#p48-zoom1 { left:69.50px; top:362.53px; width:442.20px; height:108.14px; }
#p48-pagenum { left:24px; }
