#page45 { background-image: url('../assets/backgrounds/page45.webp'); }
#p45-link1 { left:100.16px; top:674.66px; width:183.97px; height:26.42px; }
#p45-link2 { left:100.16px; top:701.08px; width:434.37px; height:26.42px; }
#p45-link3 { left:100.16px; top:753.92px; width:437.78px; height:26.42px; }
#p45-link4 { left:326.72px; top:806.76px; width:73.25px; height:26.42px; }
#p45-album-wrap { left:69.50px; top:244.50px; width:555.00px; }
#p45-album { width:555.00px; height:357.00px; }
#p45-zoom1 { left:69.50px; top:647.61px; width:548.07px; height:132.00px; }
#p45-zoom2 { left:69.50px; top:806.13px; width:330.08px; height:26.32px; }
#p45-pagenum { right:24px; }
