#page69 { background-image: url('../assets/backgrounds/page69.webp'); }
#p69-photo1 { left:376.55px; top:319.43px; width:163.61px; height:225.75px; }
#p69-photo2 { left:62.57px; top:283.81px; width:317.95px; height:149.35px; }
#p69-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p69-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p69-pagenum { right:24px; }
