#page37 { background-image: url('../assets/backgrounds/page37.webp'); }
#p37-link1 { left:100.16px; top:701.08px; width:293.84px; height:26.42px; }
#p37-link2 { left:100.16px; top:727.50px; width:91.99px; height:26.42px; }
#p37-link3 { left:100.16px; top:753.92px; width:238.48px; height:26.42px; }
#p37-link4 { left:198.11px; top:806.76px; width:73.25px; height:26.42px; }
#p37-album-wrap { left:69.50px; top:244.50px; width:555.00px; }
#p37-album { width:555.00px; height:357.00px; }
#p37-zoom1 { left:69.50px; top:674.03px; width:566.31px; height:105.58px; }
#p37-zoom2 { left:69.50px; top:806.13px; width:201.64px; height:26.32px; }
#p37-pagenum { right:24px; }
