#page88 { background-image: url('../assets/backgrounds/page88.webp'); }
#p88-readmore1 { left:545.80px; top:490.24px; width:62.64px; height:19.73px; }
#p88-photo1 { left:262.79px; top:513.07px; width:362.41px; height:272.47px; }
#p88-pagenum { left:24px; }
