#page81 { background-image: url('../assets/backgrounds/page81.webp'); }
#p81-link1 { left:70.74px; top:761.93px; width:73.25px; height:26.42px; }
#p81-photo1 { left:220.15px; top:487.63px; width:386.86px; height:257.76px; }
#p81-readmore1 { left:527.61px; top:452.18px; width:62.64px; height:19.73px; }
#p81-zoom1 { left:69.50px; top:339.04px; width:537.61px; height:108.14px; }
#p81-zoom2 { left:69.50px; top:493.29px; width:174.27px; height:176.50px; }
#p81-zoom3 { left:70.74px; top:739.69px; width:89.29px; height:21.39px; }
#p81-zoom4 { left:70.74px; top:761.30px; width:73.21px; height:26.32px; }
#p81-pagenum { right:24px; }
