#page67 { background-image: url('../assets/backgrounds/page67.webp'); }
#p67-photo1 { left:69.50px; top:308.16px; width:261.49px; height:348.88px; }
#p67-readmore1 { left:545.80px; top:632.52px; width:62.64px; height:19.73px; }
#p67-zoom1 { left:69.50px; top:316.78px; width:139.95px; height:26.32px; }
#p67-zoom2 { left:69.50px; top:345.45px; width:167.28px; height:21.39px; }
#p67-zoom3 { left:69.50px; top:587.06px; width:218.05px; height:42.69px; }
#p67-zoom4 { left:376.55px; top:372.79px; width:248.75px; height:244.50px; }
#p67-pagenum { right:24px; }
