#page8 { background-image: url('../assets/backgrounds/page8.webp'); }
#p8-tl1 { left:417.46px; top:134.27px; width:170.22px; height:24.67px; }
#p8-tl2 { left:417.46px; top:157.28px; width:68.09px; height:24.67px; }
#p8-tl3 { left:189.80px; top:287.33px; width:68.09px; height:24.67px; }
#p8-tl4 { left:33.69px; top:351.91px; width:132.63px; height:70.69px; }
#p8-tl5 { left:129.43px; top:731.41px; width:68.09px; height:24.67px; }
#p8-tl6 { left:243.63px; top:787.68px; width:68.09px; height:24.67px; }
#p8-tl7 { left:332.21px; top:679.74px; width:98.59px; height:47.68px; }
#p8-tl8 { left:480.34px; top:582.84px; width:68.09px; height:24.67px; }
#p8-tl9 { left:480.34px; top:605.85px; width:102.13px; height:24.67px; }
#p8-tl10 { left:295.56px; top:192.01px; width:68.09px; height:24.67px; }
#p8-tl11 { left:529.84px; top:251.04px; width:170.22px; height:24.67px; }
#p8-pagenum { left:24px; }
#p8-timeline-hint { right:24px; }
