#page75 { background-image: url('../assets/backgrounds/page75.webp'); }
#p75-photo1 { left:315.46px; top:221.00px; width:323.77px; height:249.24px; }
#p75-photo2 { left:447.72px; top:533.94px; width:177.21px; height:236.21px; }
#p75-readmore1 { left:83.36px; top:386.62px; width:62.64px; height:19.73px; }
#p75-readmore2 { left:83.36px; top:749.12px; width:62.64px; height:19.73px; }
#p75-zoom1 { left:69.50px; top:229.88px; width:54.86px; height:26.32px; }
#p75-zoom2 { left:69.50px; top:275.10px; width:269.19px; height:80.87px; }
#p75-zoom3 { left:69.50px; top:590.59px; width:54.86px; height:26.32px; }
#p75-zoom4 { left:69.50px; top:637.69px; width:269.19px; height:80.87px; }
#p75-zoom5 { left:356.11px; top:455.74px; width:283.07px; height:21.39px; }
#p75-pagenum { right:24px; }
