#page64 { background-image: url('../assets/backgrounds/page64.webp'); }
#p64-photo1 { left:69.50px; top:149.96px; width:445.33px; height:249.77px; }
#p64-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p64-readmore2 { left:547.64px; top:801.84px; width:62.64px; height:19.73px; }
#p64-zoom1 { left:69.50px; top:545.08px; width:54.86px; height:26.32px; }
#p64-zoom2 { left:69.50px; top:573.75px; width:134.01px; height:21.39px; }
#p64-zoom3 { left:69.50px; top:612.01px; width:248.75px; height:162.69px; }
#p64-zoom4 { left:378.39px; top:545.08px; width:54.86px; height:26.32px; }
#p64-zoom5 { left:378.39px; top:573.75px; width:134.01px; height:21.39px; }
#p64-zoom6 { left:378.39px; top:612.01px; width:100.07px; height:162.69px; }
#p64-pagenum { left:24px; }
