#page92 { background-image: url('../assets/backgrounds/page92.webp'); }
#p92-link1 { left:367.60px; top:355.91px; width:143.09px; height:26.42px; }
#p92-link2 { left:367.60px; top:580.91px; width:194.19px; height:26.42px; }
#p92-link3 { left:367.60px; top:805.91px; width:229.11px; height:26.42px; }
#p92-pagenum { left:24px; }
