#page35 { background-image: url('../assets/backgrounds/page35.webp'); }
#p35-readmore1 { left:545.80px; top:764.60px; width:62.64px; height:19.73px; }
#p35-photo1 { left:183.10px; top:228.79px; width:406.52px; height:264.17px; }
#p35-pagenum { right:24px; }
