#page71 { background-image: url('../assets/backgrounds/page71.webp'); }
#p71-photo1 { left:58.74px; top:284.89px; width:270.21px; height:202.99px; }
#p71-photo2 { left:376.55px; top:313.33px; width:248.81px; height:246.60px; }
#p71-readmore1 { left:238.75px; top:801.84px; width:62.64px; height:19.73px; }
#p71-readmore2 { left:545.80px; top:801.84px; width:62.64px; height:19.73px; }
#p71-zoom1 { left:69.50px; top:227.36px; width:54.86px; height:26.32px; }
#p71-zoom2 { left:69.50px; top:256.03px; width:119.10px; height:21.39px; }
#p71-zoom3 { left:69.50px; top:566.28px; width:248.75px; height:189.96px; }
#p71-zoom4 { left:375.41px; top:227.36px; width:54.86px; height:26.32px; }
#p71-zoom5 { left:375.41px; top:256.03px; width:122.56px; height:21.39px; }
#p71-zoom6 { left:375.41px; top:277.64px; width:54.86px; height:26.32px; }
#p71-zoom7 { left:375.41px; top:306.31px; width:148.92px; height:21.39px; }
#p71-zoom8 { left:376.55px; top:543.79px; width:260.25px; height:42.69px; }
#p71-zoom9 { left:376.55px; top:615.98px; width:248.75px; height:135.41px; }
#p71-pagenum { right:24px; }
