#page28 { background-image: url('../assets/backgrounds/page28.webp'); }
#p28-zoom1 { left:69.50px; top:283.77px; width:441.82px; height:108.14px; }
#p28-zoom2 { left:69.50px; top:420.14px; width:441.82px; height:53.60px; }
#p28-zoom3 { left:69.50px; top:501.96px; width:441.82px; height:135.41px; }
#p28-pagenum { left:24px; }
