#page43 { background-image: url('../assets/backgrounds/page43.webp'); }
#p43-readmore1 { left:545.80px; top:823.51px; width:62.64px; height:19.73px; }
#p43-photo1 { left:248.46px; top:193.46px; width:376.89px; height:283.07px; }
#p43-pagenum { right:24px; }
