#page51 { background-image: url('../assets/backgrounds/page51.webp'); }
#p51-photo1 { left:332.83px; top:239.86px; width:292.62px; height:220.02px; }
#p51-photo2 { left:69.50px; top:351.70px; width:245.15px; height:184.12px; }
#p51-readmore1 { left:549.27px; top:807.33px; width:62.64px; height:19.73px; }
#p51-pagenum { right:24px; }
