#page4 { background-image: url('../assets/backgrounds/page4.webp'); }
#p4-zoom1 { left:239.64px; top:383.31px; width:242.59px; height:79.16px; }
#p4-zoom2 { left:239.64px; top:488.99px; width:216.54px; height:26.32px; }
#p4-pagenum { left:24px; }
