#page3 { background-image: url('../assets/backgrounds/page3.webp'); }
#p3-zoom1 { left:184.12px; top:372.83px; width:444.41px; height:79.16px; }
#p3-zoom2 { left:262.47px; top:501.35px; width:194.72px; height:52.74px; }
#p3-zoom3 { left:262.47px; top:580.61px; width:375.51px; height:79.16px; }
#p3-zoom4 { left:262.47px; top:660.42px; width:362.86px; height:43.55px; }
#p3-zoom5 { left:262.47px; top:730.61px; width:296.29px; height:52.74px; }
#p3-zoom6 { left:262.47px; top:810.42px; width:268.17px; height:21.39px; }
#p3-pagenum { right:24px; }
