#page79 { background-image: url('../assets/backgrounds/page79.webp'); }
#p79-photo1 { left:355.10px; top:278.46px; width:292.23px; height:182.35px; }
#p79-readmore1 { left:83.36px; top:384.82px; width:62.64px; height:19.73px; }
#p79-readmore2 { left:83.36px; top:738.08px; width:62.64px; height:19.73px; }
#p79-zoom1 { left:69.50px; top:229.88px; width:54.86px; height:26.32px; }
#p79-zoom2 { left:69.50px; top:275.10px; width:269.20px; height:80.87px; }
#p79-zoom3 { left:69.50px; top:582.96px; width:54.86px; height:26.32px; }
#p79-zoom4 { left:69.50px; top:628.36px; width:155.12px; height:80.87px; }
#p79-pagenum { right:24px; }
