#page53 { background-image: url('../assets/backgrounds/page53.webp'); }
#p53-link1 { left:100.16px; top:696.82px; width:165.23px; height:26.42px; }
#p53-link2 { left:100.16px; top:724.09px; width:330.47px; height:26.42px; }
#p53-link3 { left:100.16px; top:751.36px; width:165.23px; height:26.42px; }
#p53-link4 { left:198.11px; top:805.91px; width:73.25px; height:26.42px; }
#p53-album-wrap { left:69.50px; top:244.50px; width:555.00px; }
#p53-album { width:555.00px; height:357.00px; }
#p53-zoom1 { left:69.50px; top:668.91px; width:546.47px; height:108.14px; }
#p53-zoom2 { left:69.50px; top:805.28px; width:201.64px; height:26.32px; }
#p53-pagenum { right:24px; }
