#page77 { background-image: url('../assets/backgrounds/page77.webp'); }
#p77-readmore1 { left:83.36px; top:412.09px; width:62.64px; height:19.73px; }
#p77-readmore2 { left:83.36px; top:739.22px; width:62.64px; height:19.73px; }
#p77-photo1 { left:356.11px; top:615.50px; width:269.70px; height:202.24px; }
#p77-photo2 { left:245.33px; top:271.57px; width:380.36px; height:183.67px; }
#p77-pagenum { right:24px; }
