#page89 { background-image: url('../assets/backgrounds/page89.webp'); }
#p89-photo1 { left:70.74px; top:525.96px; width:362.41px; height:270.53px; }
#p89-readmore1 { left:440.96px; top:461.26px; width:62.64px; height:19.73px; }
#p89-zoom1 { left:70.74px; top:362.62px; width:449.72px; height:80.87px; }
#p89-zoom2 { left:451.08px; top:610.13px; width:174.27px; height:176.50px; }
#p89-pagenum { right:24px; }
