#page50 { background-image: url('../assets/backgrounds/page50.webp'); }
#p50-photo1 { left:69.50px; top:499.52px; width:318.30px; height:337.60px; }
#p50-readmore1 { left:432.20px; top:456.23px; width:62.64px; height:19.73px; }
#p50-zoom1 { left:69.50px; top:343.09px; width:442.20px; height:108.14px; }
#p50-zoom2 { left:69.50px; top:768.66px; width:271.62px; height:42.69px; }
#p50-pagenum { left:24px; }
