#page90 { background-image: url('../assets/backgrounds/page90.webp'); }
#p90-photo1 { left:70.74px; top:482.58px; width:328.61px; height:298.05px; }
#p90-readmore1 { left:545.80px; top:508.86px; width:62.64px; height:19.73px; }
#p90-zoom1 { left:69.50px; top:355.67px; width:555.82px; height:135.41px; }
#p90-zoom2 { left:70.74px; top:754.51px; width:195.95px; height:42.69px; }
#p90-zoom3 { left:443.14px; top:655.31px; width:180.99px; height:176.50px; }
#p90-pagenum { left:24px; }
