#page85 { background-image: url('../assets/backgrounds/page85.webp'); }
#p85-photo1 { left:200.50px; top:481.15px; width:434.41px; height:325.32px; }
#p85-readmore1 { left:545.80px; top:504.72px; width:62.64px; height:19.73px; }
#p85-pagenum { right:24px; }
