#page85 { background-image: url('../assets/backgrounds/page85.webp'); }
#p85-photo1 { left:200.50px; top:481.15px; width:434.41px; height:325.32px; }
#p85-readmore1 { left:545.80px; top:504.72px; width:62.64px; height:19.73px; }
#p85-zoom1 { left:69.50px; top:337.04px; width:555.82px; height:162.69px; }
#p85-zoom2 { left:69.50px; top:562.58px; width:174.26px; height:65.70px; }
#p85-zoom3 { left:69.50px; top:651.22px; width:174.27px; height:154.34px; }
#p85-pagenum { right:24px; }
